
.btn_close{
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
}
.modal_login{
  p{
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
    opacity: 1;
  }
}
.fotobox{
  width: 100%;
  @extend %clearfix;
  .foto_detail{
    width: 33%;
    float: left;
  }
}
